.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    border:solid;
    border-color: white;

}

.black {
	background-color: black;
	color: #DBB340;
}

.all-center{
	display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    alignment-baseline: all;
}

.bgb{
	background-color: black;
}

button:hover{
    background-color: white;
}

.bgb2{
	background-color: black;
	visibility: 'hidden'
}